.inicio,
.logIn,
.logIn2,
.logIn3,
.pagPrincipal {
  align-items: center;
  /* background-color: rgba(115, 242, 242, 1);*/
  text-align: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.frase {
  font-size: 32px;
  color: rgba(91, 110, 116, 1);
  margin: 4%;
}

body {
  margin: 0;
  background-color: rgba(115, 242, 242, 1);
  background-size: cover;
}

.iniciar {
  flex-direction: column;
}

.ingresar,
.crearCuenta,
.google,
.ir {
  align-content: center;
  background-color: #FEEBD3;
  border-color: #F2BD4D;
  border-radius: 15px;
  margin: 20px;
  color: #8B969D;
  font-size: 20px;
  height: 40px;
  width: 200px;
  margin: 20px;

}

.Ojo {
  font-size: 10px;
  height: 20px;
  width: 55px;
  margin: 20px;
  border: #8B969D;
  color: #8B969D;
  background-color: rgba(235, 137, 237, 0.27);
}

/* cambio de pagina */
.frase1 {
  font-size: 25px;
  color: rgba(91, 110, 116, 1);
}

.frase2 {
  font-size: 18px;
  color: rgba(91, 110, 116, 1);
}

.email,
.password,
.nickName {
  background-color: rgba(235, 137, 237, 0.27);
  border-radius: 10px;
  color: #8B969D;
  font-size: 14px;
  height: 40px;
  width: 250px;
  text-align: center;
  margin: 20px;
}

/* cambio de pagina */
.nuevaCuenta {
  justify-content: column;
}

.menuNav {
  margin: 0 0 0 0;
  background: rgba(101, 214, 221, 1);
  display: flex;
  justify-content: space-around;
  height: 50px;
}

.home,
.adopcion {
  background: rgba(52, 227, 238, 1);
  border: none;
  width: 25%;
  text-align: center;
  font-size: 100%;
  color: rgba(91, 110, 116, 1);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.perfil {
  background: rgba(52, 227, 238, 1);
  border: none;
  width: 20%;
  text-align: center;
  font-size: auto;
  color: rgba(91, 110, 116, 1);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home:hover,
.adopcion:hover,
.perfil:hover {
  color: #F2BD4D;
  transform: scale(1.1);
  background: #FEEBD3;
}

.cuerpo {
  padding: 30px;
  height: auto;
}

.logo {
  height: 25%;
  width: 25%;
  margin: 5 0 0 0;
}

.cierre {
  height: 45%;
  width: 55%;
  margin: 5 0 0 0;
}

.patitasArr,
.patitasAba {
  height: 100%;
  width: 100%;
  /*background: #65D6DD;*/
}

.animal {
  height: 20%;
  width: 20%;

}

.google,
.cerrar,
.editar {
  background-color: #FEEBD3;
  border-color: #F2BD4D;
  border-radius: 15px;
  margin: 20px;
  color: #8B969D;
  font-size: 20px;
  height: 40px;
  width: 250px;
}

.imgGoogle {
  height: 25px;
  width: 25px;
}

.vinculoGoogle {
  flex-direction: column;
}

.publicar,
.regresar,
.publicar2 {
  background: rgba(52, 226, 238, 0.473);
  border-color: #F2BD4D;
  border-radius: 15px;
  margin: 20px;
  color: #8B969D;
  font-size: 20px;
  height: 40px;
  width: 100px;
}

/* #modal {
  display: none;
  justify-content: column;
  align-content: center;
  background-color: rgba(52, 226, 238, 0.464);
  height: 75%;
  width: 60%;
  padding: 2%;
  border-style: groove;
  border-radius: 5%;
  box-shadow: 0 0px 4px #777, 0 0 20px;
  margin: auto;
}*/ 

.publicacion {
  width: 80%;
  height: 150px;
  text-align: center;
  background-color: rgba(52, 226, 238, 0.464);
  border-color: #F2BD4D;
  border-radius: 15px;
  text-transform: capitalize;
}

.modalCierre {
  display: none;
  justify-content: column;
  align-content: center;
  background-color: rgba(52, 226, 238, 0.464);
  height: 55%;
  width: 60%;
  border-style: groove;
  border-radius: 5%;
  box-shadow: 0 0px 4px #777, 0 0 20px;
  margin: auto;
}