.inicio,
.logIn,
.logIn2,
.logIn3,
.pagPrincipal {
  align-items: center;
  text-align: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.frase {
  font-size: 32px;
  color: rgba(91, 110, 116, 1);
  margin: 4%;
}

body {
  margin: 0;
  background-color: rgba(115, 242, 242, 1);
  background-size: cover;
}

.iniciar {
  flex-direction: column;
}

.ingresar,
.crearCuenta,
.google,
.ir,
#btnPublicar{
  align-content: center;
  background-color: #FEEBD3;
  border-color: #F2BD4D;
  border-radius: 15px;
  margin: 20px;
  color: #8B969D;
  font-size: 20px;
  height: 40px;
  width: 200px;
  margin: 20px;
}

.Btnborrar,
.Btneditar {
  align-content: center;
  background-color: #FEEBD3;
  border-color: #F2BD4D;
  border-radius: 15px;
  margin: 20px;
  color: #8B969D;
  font-size: 15px;
  height: 30px;
  width: 80px;
  margin: 3%;
}

.Ojo {
  font-size: 10px;
  height: 20px;
  width: 55px;
  margin: 20px;
  border: #8B969D;
  color: #8B969D;
  background-color: rgba(235, 137, 237, 0.27);
}

.frase1 {
  font-size: 25px;
  color: rgba(91, 110, 116, 1);
}

.frase2 {
  font-size: 18px;
  color: rgba(91, 110, 116, 1);
}

.email,
.password,
.nickName {
  background-color: rgba(235, 137, 237, 0.27);
  border-radius: 10px;
  color: #8B969D;
  font-size: 14px;
  height: 40px;
  width: 250px;
  text-align: center;
  margin: 20px;
}

.nuevaCuenta {
  justify-content: column;
}

.menuNav {
  margin: 0 0 0 0;
  background: rgba(101, 214, 221, 1);
  display: flex;
  justify-content: space-around;
  height: 50px;
}

.logo {
  height: 25%;
  width: 25%;
  margin: 5 0 0 0;
}

.patitasArr,
.patitasAba {
  height: 100%;
  width: 100%;
}

.animal {
  height: 20%;
  width: 20%;

}

.google,
.cerrar,
.editar {
  background-color: #FEEBD3;
  border-color: #F2BD4D;
  border-radius: 15px;
  margin: 20px;
  color: #8B969D;
  font-size: 20px;
  height: 40px;
  width: 250px;
}

.imgGoogle {
  height: 25px;
  width: 25px;
}

.vinculoGoogle {
  flex-direction: column;
}


.publicarMuro {
  background: rgba(52, 226, 238, 0.473);
  border-color: #F2BD4D;
  border-radius: 15px;
  color: #8B969D;
  height: 230px;
  width: 600px;
  padding: 2%;
  margin-left: 30%;
  text-align: center;
}


#subject {
  background-color: #FEEBD3;
  border-color: #F2BD4D;
  border-radius: 15px;
  margin: 5%;
  color: #8B969D;
  font-size: 20px;
  height: 130px;
  width: 330px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }  */

.container {
  background: rgba(52, 226, 238, 0.473);
  border-color: #F2BD4D;
  border-radius: 15px;
  color: #8B969D;
  height: auto;
  width: 300px;
  padding: 3%;
  margin: 3%;
  margin-left: 30%;
}
.img{
  width: 25%;
}
.muro{
  text-align: center;
}
.btnLike{
  background-color: #FEEBD3;
  border-color: #F2BD4D;
  border-radius: 15px;
  margin: 20px;
  color: #8B969D;
  font-size: 20px;
  height: 35px;
  width: 150px;

}
